.dropdown {
  position: relative;
  width: 200px;
  font-family: sans-serif;

  & {
    ::-webkit-scrollbar {
      width: 7px;
      transition: 0.3s ease;
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.38);

      border-radius: 10px;
      padding: 50px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}

.selected {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: #111;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.5) inset,
    -2px -2px 5px rgba(255, 255, 255, 0.05) inset;
  transition: all 0.3s ease;
}

.arrow {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.selected.open .arrow {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background: #111;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  animation: fadeIn 0.2s ease;
}

.options li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.options li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.options li.active {
  background: rgb(255 255 255 / 5%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
